.btn {
    width: 35px;
    height: 35px;
    background: linear-gradient(60deg, #536DFE, #303F9F);
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    outline: none;
}

.btn.disabled {
    pointer-events: none;
    opacity: .7;
    cursor: default;
}

.add-btn {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.remove-btn {
    background: linear-gradient(60deg, #ef5350, #e53935);
}

