#root {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  background-color: #FFFFFF;
  padding: 0 20px;
  min-height: calc(100vh - 110px);
  border-radius: 3px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14);
}

#root .Header {
  height: 55px;
  padding: 15px;
  background: linear-gradient(60deg, #0277bd, #01579b);
  box-shadow: 0 12px 20px -10px #FFFFFF, 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px #303F9F;
  color: #FFFFFF;
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  margin-top: -25px;
  border-radius: 3px;
  margin-bottom: 25px;
}