.AddForm {
    margin: 0 0 20px 10px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.AddForm .form-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AddForm .datetime-range {
    display: flex;
}

.AddForm .datetime-range .rdt {
    margin-right: 15px;
}

.AddForm .datetime-range .rdt input {
    border: 0!important;
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.AddForm .datetime-range .rdt:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.AddForm .datetime-range .rdt:focus-within:after {
    width: 100%;
    background: #3F51B5;
}

.AddForm .rdtPicker {
    margin-top: 10px;
}
